h1{
     text-align: center;
        font-size: 50px;
        font-style: italic;
}

.container{
    width: 100%;
    height: auto;
    
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.box{
    width: 450px;
    height: auto;
    background-color: rgb(184, 185, 185);
    margin: 20px;
    box-sizing: border-box;
    font-size: 20px;
    border: 3px solid black;
}

.title1{
    text-align: center;
    background-color: rgb(221, 150, 153);
    border-bottom : 3px solid black;
    border-left: 3px solid black;
    margin-left: 9cm;
    
    
    padding: 1px 10px 10px 10px;
}

.title2{
    text-align: center;
    background-color: rgb(219, 66, 73);
    border-bottom : 3px solid black;
    border-left: 3px solid black;
    margin-left: 9cm;
    
    
    padding: 1px 10px 10px 10px;
}
.title3{
    text-align:  center;
    background-color: rgb(224, 245, 33);
    border-bottom : 3px solid black;
    border-left: 3px solid black;
    margin-left: 9cm;
    
    
	
    padding: 1px 10px 10px 10px;
}


@media screen and (max-width:1200px ){
    .box, .title1, .title2, .title3{width: 40%; 
        position: relative;
        float: right;}
    
    
}

    @media screen and (max-width:680px ){
        
        .box, .title1, .title2, .title3{width: 90%;
            position: relative;
            float: right; 
    
}
        

        

    }    
    @media screen and (max-width:300px ){
        
        .box, .title1, .title2, .title3{width: 90%;
            position: relative;
            float: right;  }
             }
    